.buttonVersa{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background: linear-gradient(to right, #d2b48c, #8b4513);
    border-radius: 50px;
    color: black;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 27px;
  }

  .elements{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.droplets{
    font-size: 48px;
    color: linear-gradient(to right, #d2b48c, #8b4513);
}